<div class="well infobox">
  <form action="/container/create/" method="post" name="checkbox_form">
    <div class="checkbox">
      <label>
        <input type="text" name="name" value="Name"><span class="ripple"></span></input>
        <input type="text" name="image" value="Image"><span class="ripple"></span></input>
        <input type="text" name="command" value="Command"><span class="ripple"></span></input>
      </label>
    </div>
    <button class="btn btn-info btn-xs shorten-button" button type="submit">Submit</button>
  </form>
</div>
