<!DOCTYPE html>
<html lang="en-GB">

<head>
  <title>Cucumber Bootstrap</title>
  <link rel="stylesheet" href="/assets/css/eva.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <script type="text/javascript" src="//code.jquery.com/jquery-latest.min.js"></script>
  <div class="container">
    <%= yield %>
  </div>
</body>

</html>
