<% if @container.logs %>
  <div class="well infobox">
    <div class="panel-heading">Logs</div>
      <div class="panel-body">
        <pre><%= @container.logs %></pre>
      </div>
    </div>
  </div>
<% end %>
